.accueil__conteneur {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;

    &__ordi {
        width: 100%;
        margin: 20px 0 50px 0;
    }

    &__imgacc {
        width: 100%;
        margin: 30px auto;
    }

    &__logo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    @media only screen and (min-width: 768px) and (pointer: fine) {

        &__imgacc {
            margin: auto;
        }

        &__logo {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}