.accueil__conteneur {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
    padding: 0 20px;

    &__figure {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    &__ordi {
        width: 100%;
        margin: 20px 0 50px 0;
    }

    &__imgacc {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 30px;
    }

    @media only screen and (min-width: 768px) and (pointer: fine) {
        margin-bottom: 0px;
    }

    @media only screen and (max-height: 832px) and (orientation: landscape) and (pointer: fine) {
        &__imgacc {
            width: 80%;
        }
    }

    @media only screen and (min-width: 851px) and (orientation: landscape) and (pointer: fine) {
        margin-bottom: 130px;
    }

    @media only screen and (min-width: 1083px) and (orientation: landscape) and (pointer: fine) {
        margin-bottom: 0px;
        height: 88vh;

        &__logo {
            flex-flow: row nowrap;
        }

        &__ordi {
            margin: 20px 0 0 0;
        }
    }
}