.portfolio__conteneur {
    width: 100%;
    display: flex;
    margin-bottom: 130px;

    &__element {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        border-radius: 10px;
        gap: 10px;
        grid-auto-flow: dense;
        width: 95%;
        background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
        margin: auto;
    }

    &__section {
        align-self: center;
        justify-self: center;
    }

    &__figure {
        display: inline-block;
        position: relative;
    }

    &__img {
        width: 100%;

        &:hover {
            outline: solid 2px rgb(110, 172, 108);
        }
    }

    @media only screen and (min-width: 679px) and (pointer: fine) {
        &__element {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }

    @media only screen and (min-width: 768px) and (pointer: fine) {
        width: 100%;
        margin-bottom: 0px;

        &__element {
            height: 70%;
        }
    }

    @media only screen and (min-width: 868px) and (pointer: fine) {
        &__element {
            height: auto;
        }
    }

    @media only screen and (max-width: 1082px) and (orientation: landscape) and (pointer: fine) {
        margin-bottom: 130px;

        &__element {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, auto);
        }
    }

    @media only screen and (min-width: 1592px) and (pointer: fine) {
        &__element {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            width: 75.713%;
        }
    }
}