.loading_spinner {
    background: linear-gradient(180deg, #1e3d59 50%, #ffffff 50%);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    animation: loader 4000ms both;

    color: white;
    display: flex;

    &__titre {
        font-size: 1.5em;
        z-index: 1;
        font-weight: 600;
        margin: auto;
        letter-spacing: 3px;
    }

    &__img {
        width: 35.188vw;
        margin: auto;
    }

    @media only screen and (min-width: 500px) and (pointer: fine) {
        &__img {
            width: 27.188vw;
        }
    }

    @media only screen and (min-width: 730px) and (pointer: fine) {
        &__img {
            width: 20.188vw;
        }
    }

    @media only screen and (min-width: 896px) and (pointer: fine) {
        flex-direction: row;
        background: linear-gradient(100deg, #1e3d59 50%, #ffffff 50%);

        &__titre {
            font-size: 2em;
        }

        &__img {
            width: 15.625vw;
            aspect-ratio: 0.7772;
        }
    }
}