@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular-webfont.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
H1,
H2,
H3,
img {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100%;
  position: relative;
}
.main__conteneur {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .main__conteneur {
    flex-direction: row;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 11vh;
  position: relative;
  background-color: #DDD0C8;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  opacity: 0.8;
  background-color: #e7ddd8;
  box-shadow: inset 0px -2px 3px -1px rgba(0, 0, 0, 0.5);
}
.banner:hover::after, .banner:active::after {
  z-index: 0;
  opacity: 0.4;
}
.banner__titre {
  font-size: 1.2em;
  margin-right: 35px;
  font-weight: 500;
  margin: 0;
  z-index: 1;
}
.banner--button {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: none;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #3d99be;
  box-shadow: 1px 3px 5px 1px RGB(0 0 0/35%);
  width: 45px;
  height: 45px;
  margin: 0 5px 0 15px;
}
.banner--button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: 10px 10px;
  opacity: 0;
  z-index: -1;
}
.banner--button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.banner--button:hover::after {
  opacity: 1;
  transition: opacity 300ms;
  background: linear-gradient(270deg, #3d99be 0%, #3ab5b0 100%);
}
.banner--button__icone {
  height: 42px;
  width: 100%;
}
@media only screen and (min-width: 456px) and (pointer: fine) {
  .banner {
    padding: 0 50px;
  }
  .banner__titre {
    font-size: 1.7em;
  }
  .banner--button {
    width: 55px;
    height: 55px;
    margin: 0 0px 0 15px;
  }
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .banner__titre {
    font-size: 2.3em;
  }
  .banner--button {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 990px) and (pointer: fine) {
  .banner {
    padding: 0 100px;
  }
}
@media only screen and (min-width: 1288px) and (pointer: fine) {
  .banner {
    padding: 0 150px;
  }
}

.active {
  font-size: 1.7em;
  cursor: pointer;
  position: relative;
  border-radius: 10px 10px;
  border: none;
  transition: opacity 300ms;
  position: relative;
  border: none;
  opacity: 1;
  z-index: 1;
  background-color: #3ab5b0;
}
.active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: 10px 10px;
  opacity: 0;
  z-index: -1;
}
.active:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .active {
    font-size: 2.3em;
  }
}

.sidebar_conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e3d59;
  height: 330px;
  width: 100%;
  margin-bottom: 35px;
}
.sidebar_conteneur__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  list-style-type: none;
  padding: 0;
}
.sidebar_conteneur__li {
  display: flex;
}
.sidebar_conteneur--button {
  width: 70%;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  font-size: 1.2em;
  font-weight: 540;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-image: linear-gradient(to right, #3d99be 31%, #56317a 100%);
  border: none;
  z-index: 1;
}
.sidebar_conteneur--button::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
.sidebar_conteneur--button::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-image: linear-gradient(to right, #4ea4c6 19%, #63388c 87%, #47b185 100%);
  box-shadow: 0px 2px 10px 1px RGB(0 0 0/35%);
}
.sidebar_conteneur--button:not(.button):hover::after, .sidebar_conteneur--button:active::after {
  opacity: 1;
  transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sidebar_conteneur__icone {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: #cfcfcf;
}
.sidebar_conteneur__linkedin {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 45px;
  color: black;
  margin: 25px;
}
.sidebar_conteneur__github {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 45px;
  color: black;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .sidebar_conteneur {
    justify-content: space-evenly;
    height: 89vh;
    width: 280px;
    border-radius: 0 10px 0 0;
    margin-bottom: 0px;
  }
  .sidebar_conteneur__menu {
    height: 300px;
  }
  .sidebar_conteneur__icone {
    display: flex;
    justify-content: space-around;
    position: static;
    background-color: #1e3d59;
  }
  .sidebar_conteneur:hover {
    background-color: #244a6c;
  }
  .sidebar_conteneur:hover > .sidebar_conteneur__icone {
    background-color: #244a6c;
  }
}

.button {
  width: 70%;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  font-size: 1.2em;
  font-weight: 540;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-image: linear-gradient(to right, #3d99be 31%, #317a5c 100%);
  box-shadow: 0px 2px 10px 1px RGB(0 0 0/35%);
  border: none;
  z-index: 1;
}

.rotate {
  transform: rotate(0deg);
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .rotate {
    transform: rotate(-90deg);
  }
}

.rotateinit {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .rotateinit {
    transform: rotate(0deg);
  }
}

.loading_spinner {
  background: linear-gradient(180deg, #1e3d59 50%, #ffffff 50%);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  animation: loader 4000ms both;
  color: white;
  display: flex;
}
.loading_spinner__titre {
  font-size: 1.5em;
  z-index: 1;
  font-weight: 600;
  margin: auto;
  letter-spacing: 3px;
}
.loading_spinner__img {
  width: 35.188vw;
  margin: auto;
}
@media only screen and (min-width: 500px) and (pointer: fine) {
  .loading_spinner__img {
    width: 27.188vw;
  }
}
@media only screen and (min-width: 730px) and (pointer: fine) {
  .loading_spinner__img {
    width: 20.188vw;
  }
}
@media only screen and (min-width: 896px) and (pointer: fine) {
  .loading_spinner {
    flex-direction: row;
    background: linear-gradient(100deg, #1e3d59 50%, #ffffff 50%);
  }
  .loading_spinner__titre {
    font-size: 2em;
  }
  .loading_spinner__img {
    width: 17.188vw;
  }
}

.accueil__conteneur {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
}
.accueil__conteneur__ordi {
  width: 100%;
}
.accueil__conteneur__imgacc {
  width: 100%;
  margin: 30px auto;
}
.accueil__conteneur__logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .accueil__conteneur {
    padding-top: 35px;
    margin: auto;
    height: 89vh;
  }
  .accueil__conteneur__imgacc {
    margin: auto;
  }
  .accueil__conteneur__logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.portfolio__conteneur {
  width: 100%;
  display: flex;
  margin-bottom: 130px;
}
.portfolio__conteneur__element {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, auto);
  border-radius: 10px;
  gap: 10px;
  grid-auto-flow: dense;
  width: 95%;
  background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
  margin: auto;
}
.portfolio__conteneur__section {
  align-self: center;
  justify-self: center;
}
.portfolio__conteneur__figure {
  display: inline-block;
  position: relative;
}
.portfolio__conteneur__img {
  width: 100%;
}
.portfolio__conteneur__img:hover {
  outline: solid 2px rgb(110, 172, 108);
}
@media only screen and (min-width: 679px) and (pointer: fine) {
  .portfolio__conteneur__element {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .portfolio__conteneur {
    width: 100%;
    margin-bottom: 0px;
  }
  .portfolio__conteneur__element {
    height: 70%;
  }
}
@media only screen and (min-width: 868px) and (pointer: fine) {
  .portfolio__conteneur__element {
    height: auto;
  }
}
@media only screen and (min-width: 1592px) and (pointer: fine) {
  .portfolio__conteneur__element {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 75.713%;
  }
}

.conteneurabout {
  display: flex;
  margin-bottom: 130px;
}
.conteneurabout__div {
  display: flex;
  flex-direction: column-reverse;
  width: 95%;
  background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
  padding: 0 10px;
  border-radius: 10px;
  font-size: 1em;
  margin: auto;
}
.conteneurabout__paragraphe {
  text-align: justify;
  width: 100%;
}
.conteneurabout__img {
  height: 120px;
  border-radius: 50%;
  margin: auto;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .conteneurabout {
    width: 100%;
    margin-bottom: 0px;
  }
  .conteneurabout__div {
    justify-content: space-between;
    flex-flow: column-reverse wrap;
    padding: 0 20px;
  }
  .conteneurabout__titre {
    display: inline-block;
    width: 50%;
    font-weight: 500;
  }
  .conteneurabout__paragraphe {
    width: 100%;
  }
}
@media only screen and (min-width: 962px) and (pointer: fine) {
  .conteneurabout__div {
    flex-flow: row nowrap;
  }
  .conteneurabout__img {
    height: 286px;
    border-radius: 10%;
  }
  .conteneurabout__paragraphe {
    width: 95%;
  }
}
@media only screen and (min-width: 1200px) and (pointer: fine) {
  .conteneurabout__div {
    width: 75%;
  }
}
@media only screen and (min-width: 1532px) and (pointer: fine) {
  .conteneurabout__div {
    width: 65.713%;
  }
  .conteneurabout__img {
    height: 386px;
  }
}

.conteneurcontact {
  margin-bottom: 130px;
}
.conteneurcontact__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin: auto;
  width: 95%;
  padding: 15px;
  background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
}
.conteneurcontact__h2 {
  margin: auto;
  font-weight: 500;
}
.conteneurcontact__form {
  margin: auto;
  width: 86.87%;
}
.conteneurcontact__formulaire {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.conteneurcontact__label {
  margin: 5px;
}
.conteneurcontact__nom {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
  border: none;
}
.conteneurcontact__nom:hover {
  outline: solid 2px rgb(110, 172, 108);
}
.conteneurcontact__prenom {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
  border: none;
}
.conteneurcontact__prenom:hover {
  outline: solid 2px rgb(110, 172, 108);
}
.conteneurcontact__mail {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
  border: none;
}
.conteneurcontact__mail:hover {
  outline: solid 2px rgb(110, 172, 108);
}
.conteneurcontact__descriptif {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  resize: none;
  margin: 5px;
  border: none;
}
.conteneurcontact__descriptif:hover {
  outline: solid 2px rgb(110, 172, 108);
}
.conteneurcontact--bouton {
  width: 50%;
  border: none;
  border-radius: 10em;
  background-color: white;
  box-shadow: 1px 5px 10px 1px RGB(0 0 0/35%);
  background: linear-gradient(to bottom right, white, #2b577f);
  margin: 10px auto;
  position: relative;
  height: 50px;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.conteneurcontact--bouton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(to bottom right, #fbfaf4, #244a6c);
  border-radius: 10em;
  box-shadow: 0px 2px 10px 1px RGB(0 0 0/35%);
}
.conteneurcontact--bouton:hover::after, .conteneurcontact--bouton:active::after {
  opacity: 1;
  transition: opacity 300ms;
}
@media only screen and (min-width: 768px) and (pointer: fine) {
  .conteneurcontact {
    margin: auto;
    width: 100%;
  }
  .conteneurcontact__div {
    width: 80%;
  }
  .conteneurcontact__form {
    width: 66.87%;
  }
}
@media only screen and (min-width: 962px) and (pointer: fine) {
  .conteneurcontact__div {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) and (pointer: fine) {
  .conteneurcontact__div {
    width: 60%;
  }
}
@media only screen and (min-width: 1532px) {
  .conteneurcontact__div {
    width: 50%;
  }
}

.invalid {
  outline: solid 2px red;
  border: none;
}

@keyframes loader {
  0% {
    left: 0px;
    opacity: 2;
    z-index: 3;
  }
  50% {
    left: 0px;
    opacity: 2;
    z-index: 3;
    left: 0px;
  }
  100% {
    left: 3000px;
    opacity: 2;
    z-index: 1;
  }
}

/*# sourceMappingURL=style.css.map */
