@keyframes loader {
    0% {
        left: 0px;
        opacity: 2;
        z-index: 3;
    }

    50% {
        left: 0px;
        opacity: 2;
        z-index: 3;
        left: 0px;
    }

    100% {
        left: 3000px;
        opacity: 2;
        z-index: 1;
    }
}